* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
}
.form-contactar{
    width: 400px;
    background: rgb(43, 43, 45);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px black;
}

.form-contactar h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 100%;
    background: rgb(212, 228, 228);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid black;
    font-size: 15px;
}

.form-contactar .bottons{
    width: 50%;
    padding: 5px;
    margin-bottom: 3px;
    margin-left: 85px;
    border: none;
    font-size: 15px;
}

.form-contactar .bottons:hover{
    background-color: rgb(61, 61, 63);
}